html
{
    font-size: 62.5%;	
}

#test {
    background-color: green;
}

.blue-bg
{
    background-color: whitesmoke;
}

.points
{
    color: grey;
    font-size: 5rem;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}